body {
    overflow: auto;
}

.feed_container {
    width: 100%;
}

.app-header {
    background-color: #7323dc;
    height: 80px;
    color: white;
    font-size: 34px;
    padding-bottom: 4px
}

.tweet-group {
    padding: 0;
}

.tweet-group li {
    list-style: none;
}

.tweet {
    padding: 4px;
    font-weight: bolder;
    font-size: 12px;
}

.tweets {
    width: auto;
    position: absolute;
    top: 50%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.list-group-item {
    margin: 10px
}

.TweetTextSize {
    font-size: 14px;
    line-height: 18px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tweet p {
    word-wrap: break-word;
}

.tweet .js-tweet-text {
    white-space: pre-wrap;
}

.stream-item-header .account-group {
    color: #8899a6;
}

.content {
    margin-left: 58px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    -moz-force-broken-image-icon: 1;
}

.stream-item-header .avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
}

.fullname {
    font-weight: bold;
    color: #292f33;
}

.username {
    font-size: 13px;
    color: #8899a6;
}
